.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

img {
  object-fit: fill;  
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: rgb(228, 228, 228);
  z-index: -5;
  position: relative;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.block__logo {
  margin-top: 30px;
  margin-left: 64px;
  width: 228px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

.block__head {
  color: black;
  font-size: 100px;
  line-height: 96px;
  font-weight: 600;
  margin-left: 64px;
  width: 730px;
}

.block__text {
  color: black;
  font-size: 18px;
  line-height: 25px;
  margin-left: 64px;
  margin-bottom: 30px;
  width: 388px;
  height: 90px;
}

.block__link {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
}

.block2 {
  margin: 0;
  width: 100%;
}

.block__image {
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.block__image img {
  height: 100%;
  width: 100%;
}

.block__rectangle {
  position: absolute;
  z-index: -5;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: rgb(58, 58, 255);
}

.description {
  margin-top: 100px;
  display: flex;
}

.description__title {
  width: 20%;
}

.description__title__text {
  margin-left: 40px;
  width: 175px;
  color: blue;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
}

.description__text {
  width: 80%;
  font-size: 24px;
  line-height: 34px;
}

.description__text__1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.description__text__2 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.description__text__3 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin: 0px;
  height: 60%;
}

.digits__text-1 {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}

.digits__text-2 {
  padding: 20px;
  font-size: 24px;
  line-height: 24px;
}

.digits__bloks {
  margin: 0px;
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows:repeat(2, 200px);
  margin-left: auto;
  margin-right: auto; 
  justify-content: space-between;
  padding-top: 60px;
  row-gap: 60px;
  padding-bottom: 100px;

}

.digits__bloks_head {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.digits__bloks_text{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2;
}

.feynman {
  height: 890px;
  background-color: rgb(228, 228, 228);
  z-index: -5;
  position: relative;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
}

.feynman__head {
  position: relative;
  padding-top: 100px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  z-index: 5;
}

.feynman__text {
  position: relative;
  padding-top: 70px;
  z-index: 7;
}

.feynman_image {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.feynman__link {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 48px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  border: 5px solid;
  z-index: -5;
}
